@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;500&display=swap');

.footer-info{
  background: #ECE6E1;
  text-align: center;
  font-family: 'Noto Sans', sans-serif; 
  padding: 10px;
}

.icons-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3{
 font-weight: bold;
 font-size: 40px;
}

p{
  font-size: 13px;
}

.p-1{
  font-size: 15px;
}

