@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;500&display=swap');

  .image-page {
    flex: 1;    
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
  }

  h2, p{
    margin: 5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
  }
  